header {
    margin-bottom: 25px;
    .logo {
        img {
            width: 160px;
        }
    }

    .search {
        margin-top: 20px;
    }

    .navigation {
        margin-top: 26px;
    }

    .tools {
        .pi {
            margin-top: 26px;
            margin-right: 12px;
        }
    }
}